body {
    background-color: #ccc;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    height: 60vh;
}
header {
    height: 20vh;
}

.intro {
    display: block;
    color: whitesmoke;
    text-align: center;
    font-size: 300%;
    padding: 15%;
}


#content {
    color: whitesmoke;
    display: block;
    margin: 5% 10% 20% 10%;
    text-align: center;
    background-repeat: no-repeat;
}

footer {
    background: #212529;
    clear: both;
    color: white;
    padding: 2%;
    text-align: center;
    width: 100%;
}
