body {
    background-color: #ccc;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body .intro {
    color: whitesmoke;
    text-align: center;
    font-size: 300%;
    padding: 15%;
}

footer {
    background: #212529;
    clear: both;
    color: white;
    padding: 2%;
    text-align: center;
    width: 100%;
}
