
body {
  font-family: Helvetica;
  background-image: url("../img/skills.jpg");
  background-size: cover;
}

.skillset {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0 5% 5% 5%;
  justify-content: center 
}

.proficientin {
  color: rgb(255, 249, 249);
  margin: 2%;
  font-size: 250%;
  width: 100%
}

h1 {
  font-size: 150%;
}

.skill-java {
  background-color: rgba(38, 229, 54, 0.470);
}

.skill-c {
  background-color: rgba(38, 229, 229, 0.470);
}

.skill-html {
  background-color: rgba(229, 83, 38, 0.470);
}

.skill-js {
  background-color: rgba(229, 162, 39, 0.470);
}

.skill-jquery {
  background-color: rgba(12, 115, 184, 0.470);
}

.skill-fun {
  background-color: rgba(220, 20, 60, 0.432);
}

.skill-fun,
.skill-java,
.skill-c,
.skill-html,
.skill-js,
.skill-jquery {
  border-radius: 5px;
  box-shadow: 0px 0px 30px rgb(0, 0, 0);
  color: whitesmoke;
  margin: 1%;
  padding: 5%;
  width: 35vh;
}

.projects-button {
  padding: 5%;
  background-color: whitesmoke;
  opacity: 0.9;
  width: 100%;
  color: black;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

.projects {
  margin: 1em 0;
}

.active {
  background-color: #333333;
  color: whitesmoke;
}
